<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content='width=device-width, initial-scale=1.0'>
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Hadi Hassan</title>
  </head>
  <body>
    <!--header start-->
    <header>
      <div class='portfolio-container'>
        <div class='portfolio-row header-wrap'>
          <div class='brand-name'>
            <a href='#' class='logo'>Hadi</a>
          </div>
          <!--Header navbar start-->
          <div class='portfolio-navbar'>
            <ul>
              <li>
                <a href="#home" class="navbar-links">Home</a>
              </li>
              <li>
                <a href="#about" class="navbar-links">About</a>
              </li>
              <li>
                <a href="#resume" class="navbar-links">Resume</a>
              </li>
              <li>
                <a href="#services" class="navbar-links">Services</a>
              </li>
              <li>
                <a href="#projects" class="navbar-links">Projects</a>
              </li>
              <li>
                <a href="#contact" class="navbar-links">Contact</a>
              </li>
            </ul>
          </div>
          <!--Header navbar end-->
          <div class="navbar-toggle">
            <i class="lni lni-grid-alt"></i>
          </div>
        </div>                                        
      </div>
    </header>
    <!--header end-->
    <!-- About section start -->
    <section id="about">
      <div class="portfolio-container">
        <div class="portfolio-row about-content">
          <!---Greetings and intro begin--->
          <div class="about-intro">
            <div class="about-text">
              <h1>👋 Hey there, <br>
                It's Hadi
              </h1>
              <h3>Python & ML Developer</h3>
              <p>Hey do you need a developer to solve your <strong>ML or Python problems?</strong> lets shake hands with me. </p>
            </div>
          </div>
          <div class="about-image">
            <img src="static/images/1-removebg-preview.png" alt="profile">
          </div>
        </div>
      </div>
    </section>
    <!-- About section end -->
    <!-- resume section start -->
    <section id="resume">
      <div class="portfolio-container">
        <div class="portfolio-row">
          <!----resume intro begin---->
          <div class="resume-intro">
            <h2><strong>About Me</strong></h2>
            <div class="resume-text">
              <p>
                I am a highly skilled software developer with expertise in Python programming. With (2 years) of experience in developing and implementing cutting-edge solutions, I have a strong background in Django, Pandas, Numpy, Machine Learning, Deep Learning, TensorFlow and Computer Vision. I have a passion for delivering high-quality work and have consistently exceeded expectations on previous projects. I am confident in my ability to effectively handle complex projects and provide innovative solutions. Let's work together to bring your vision to life.
              </p>
            </div>
            <div class="hello-btn">
              <a href="#contact">
                Say Hello
              </a>
            </div>
          </div>
          <!----resume intro end---->
          <!----resume body start---->
          <div class="resume-body">
            <h2><strong>Qualification</strong></h2>
            <!----resume heading start---->
            <div class="resume-heading">
              <button class="btn active"  type="button" data-id="education">
                Education
              </button>
              <button class="btn" type="button" data-id="experience">
                Experience
              </button>
              <button class="btn" type="button" data-id="skills">
                Skills
              </button>
            </div>
            <!----resume heading ends---->
            <!----Education tab start---->
              <div class="resume-tab active" id="education">
                <div class="qualification-content">
                  <h4 class="course">Intermediate</h4>
                  <h6 class="institution">Punjab Group of collages</h6>
                  <span class="years">2015-2016</span>
                </div>
                <div class="qualification-content">
                  <h4 class="course">Complete Python:Zero to Mastery</h4>
                  <h6 class="institution">Udemy</h6>
                  <span class="years">2022</span>
                </div>
                <div class="qualification-content">
                  <h4 class="course">Data Science Bootcamp</h4>
                  <h6 class="institution">Udemy</h6>
                  <span class="years">2023</span>
                </div>
              </div>
              <!----Education tab ends---->

              <!----Expeience tab begins---->
              <div class="resume-tab" id="experience">
                <div class="qualification-content">
                  <h4 class="role">Python Developer</h4>
                  <h6 class="organization">Freelancing</h6>
                  <span class="years">2023-Present</span>
                </div>
                <div class="qualification-content">
                  <h4 class="role">Web Scrapping</h4>
                  <h6 class="organization">Freelancing</h6>
                  <span class="years">2023-Present</span>
                </div>
                <div class="qualification-content">
                  <h4 class="role">Automation Bots</h4>
                  <h6 class="organization">Freelancing</h6>
                  <span class="years">2023-Present</span>
                </div>
              </div>
              <!----Experience tab ends---->

              <!---Skills tab begins--->
              <div class="resume-tab" id="skills">
                <div class="bar-content">
                  <div class="bar-heading">
                    <div class="bar-title">
                      Flask
                    </div>
                    <div class="bar-percentage">90%</div>
                  </div>
                  <div class="bar-progress">
                    <div class="progress-bar" style="width: 90%;"></div>
                  </div>
                </div>
                <div class="bar-content">
                  <div class="bar-heading">
                    <div class="bar-title">
                      Django
                    </div>
                    <div class="bar-percentage">80%</div>
                  </div>
                  <div class="bar-progress">
                    <div class="progress-bar" style="width: 80%;"></div>
                  </div>
                </div>
                <div class="bar-content">
                  <div class="bar-heading">
                    <div class="bar-title">
                      Scrapy
                    </div>
                    <div class="bar-percentage">90%</div>
                  </div>
                  <div class="bar-progress">
                    <div class="progress-bar" style="width: 90%;"></div>
                  </div>
                </div>
                <div class="bar-content">
                  <div class="bar-heading">
                    <div class="bar-title">
                      Data Science
                    </div>
                    <div class="bar-percentage">70%</div>
                  </div>
                  <div class="bar-progress">
                    <div class="progress-bar" style="width: 70%;"></div>
                  </div>
                </div>
                <div class="bar-content">
                  <div class="bar-heading">
                    <div class="bar-title">
                      Aws
                    </div>
                    <div class="bar-percentage">60%</div>
                  </div>
                  <div class="bar-progress">
                    <div class="progress-bar" style="width: 60%;"></div>
                  </div>
                </div>
                <div class="bar-content">
                  <div class="bar-heading">
                    <div class="bar-title">
                      Machine Learning
                    </div>
                    <div class="bar-percentage">85%</div>
                  </div>
                  <div class="bar-progress">
                    <div class="progress-bar" style="width: 85%;"></div>
                  </div>
                </div>
              </div>
              <!---Skills tab ends--->
            </div>
          </div>            
        <!----resume body end---->
      </div>
    </section>
    <!-- resume section end-->

    <!-- Service Section Begins-->
    <section id="services">
      <div class="portfolio-container">
        <h2>
          <strong>What Do I Help</strong>🛠️
        </h2>
        <div class="service-row">
          <div class="service-card">
            <div class="icon">
              <i class="lni lni-python"></i>
            </div>
            <div class="service-content">
              <h6>Web Scrapping</h6>
              <p>Automates data extraction from CSV files or Websites and generates insightful visualizations for data analysis.</p>
            </div>
          </div>
          <div class="service-card">
            <div class="icon">
              <i class="lni lni-python"></i>
            </div>
            <div class="service-content">
              <h6>Automation</h6>
              <p>Streamlines repetitive tasks and improves efficiency through automated processes and workflows..</p>
            </div>
          </div>
          <div class="service-card">
            <div class="icon">
              <i class="lni lni-python"></i>
            </div>
            <div class="service-content">
              <h6>Machine Learning</h6>
              <p>Empower your business with cutting-edge machine learning solutions tailored to your specific needs, driving data-driven insights and predictive analytics for enhanced decision-making and performance optimization.</p>
            </div>
          </div>
          <div class="service-card">
            <div class="icon">
              <i class="lni lni-aws"></i>
            </div>
            <div class="service-content">
              <h6>AWS</h6>
              <p>Unlock the full potential of your infrastructure with AWS, leveraging scalable cloud solutions for secure, reliable, and cost-effective computing, storage, and networking services tailored to your business requirements.</p>
            </div>
          </div>
          <div class="service-card">
            <div class="icon">
              <i class="lni lni-figma"></i>
            </div>
            <div class="service-content">
              <h6>Figma</h6>
              <p>Transform your design process with Figma, a collaborative interface design tool that enables seamless teamwork, real-time collaboration, and prototyping for creating stunning user experiences across web, mobile, and more.</p>
            </div>
          </div>
          <div class="service-card">
            <div class="icon">
              <i class="lni lni-css3"></i>
            </div>
            <div class="service-content">
              <h6>Web Development</h6>
              <p>Elevate your online presence with expert web development services, crafting responsive and engaging websites tailored to your brand identity and optimized for performance, accessibility, and user experience.</p>
            </div>
          </div>
        </div>
      </div> 
    </section>
    <!-- Service Section Ends-->
    
    <!--- Project Section Begins--->
    <section id="projects">
      <div class="portfolio-container">
        <div class="portfolio-row filter-wrap">
          <h2>
            <strong>Recent Works</strong>
          </h2>
          <!---project filter nav begins--->
          <div class="projects-filter-nav">
            <button class="btn active" data-id="all" type='button'>All</button>
            <button class="btn active" data-id="ml" type='button'>ML</button>
            <button class="btn active" data-id="python" type='button'>Python</button>
          </div>
          <!---project filter nav ends--->
        </div>
        <!--- Main Project begins ---->
        <div class="portfolio-wrapper">
          <div class="portfolio-col">
            <div class="portfolio-item python">
              <img src="static/images/pic2.jpg" alt="">
              <div class="portfolio-item-content">
                <div class="product-title">
                  <h4>Data Scrapping</h4>
                  <p>Elevate your online </p>
                </div>
              </div>
            </div>
            <div class="portfolio-item python">
              <img src="static/images/books.jpg" alt="">
              <div class="portfolio-item-content">
                <div class="product-title">
                  <h4>Data minning</h4>
                  <p>Elevate your online </p>
                </div>
              </div>
            </div>
            <div class="portfolio-item ml">
              <img src="static/images/pic4.jpg" alt="">
              <div class="portfolio-item-content">
                <div class="product-title">
                  <h4>Data wrangling ML</h4>
                  <p>Elevate your online </p>
                </div>
              </div>
            </div>
            <div class="portfolio-item python">
              <img src="static/images/pic3.jpg" alt="">
              <div class="portfolio-item-content">
                <div class="product-title">
                  <h4>Data cleaning</h4>
                  <p>Elevate your online </p>
                </div>
              </div>
            </div>
            <div class="portfolio-item ml">
              <img src="static/images/pic5.jpg" alt="">
              <div class="portfolio-item-content">
                <div class="product-title">
                  <h4>Web Development ML</h4>
                  <p>Elevate your online </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--- Main Project ends ---->
      </div>
    </section>
    <!--- Project Section Ends--->
    
    <script src="{{ url_for('static', filename='script.js') }}">
    </script>
  </body>
</html>