<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content='width=device-width, initial-scale=1.0'>
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Hadi Hassan</title>
  </head>
  <body>
    <!--header start-->
    <header>
      <div class='portfolio-container'>
        <div class='portfolio-row header-wrap'>
          <div class='brand-name'>
            <a href='#' class='logo'>Hadi</a>
          </div>
          <!--Header navbar start-->
          <div class='portfolio-navbar'>
            <ul>
              <li>
                <a href="#home" class="navbar-links">Home</a>
              </li>
              <li>
                <a href="#about" class="navbar-links">About</a>
              </li>
              <li>
                <a href="#projects" class="navbar-links">Projects</a>
              </li>
              <li>
                <a href="#skills" class="navbar-links">Skills</a>
              </li>
              <li>
                <a href="#contact" class="navbar-links">Contact</a>
              </li>
            </ul>
          </div>
          <!--Header navbar end-->
          <div class="navbar-toggle">
            <i class="lni lni-grid-alt"></i>
          </div>
        </div>                                        
      </div>
    </header>
    <!--header end-->
    <script src="{{ url_for('static', filename='script.js') }}">
    </script>
  </body>
</html>